@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}




<div class="card-deck">
    @foreach (var employe in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employe.Name</h3>
            </div>
            <img class="card-img-top" src="./images/person.png" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employe.Id" class="btn btn-primary">View</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-dark">Delete</a>
            </div>
        </div>
    }
</div>